<div *ngIf="!allSRVService.user" class="login-container">
  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" novalidate>
    <div>
      <label for="userName">Username:</label>
      <input
        style="width: 97%;"
        type="text"
        id="userName"
        [(ngModel)]="userName"
        name="userName"
        #userNameField="ngModel"
        required
        #userNameInput
      >
      <!-- <div *ngIf="userNameField.invalid && userNameField.touched" style="color: red;">
        Username is required.
      </div> -->
    </div>
    <div>
      <label for="password">Password:</label>
      <div class="password-container">
        <input
          style="width: 90%;"
          [type]="passwordVisible ? 'text' : 'password'"
          id="password"
          [(ngModel)]="password"
          name="password"
          #passwordField="ngModel"
          required
        >
        <button type="button" (click)="togglePasswordVisibility()" class="eye-icon">
          <span *ngIf="!passwordVisible">👁️</span>
          <span *ngIf="passwordVisible">🙈</span>
        </button>
      </div>
      <!-- <div *ngIf="passwordField.invalid && passwordField.touched" style="color: red;">
        Password is required.
      </div> -->
    </div>
    <button style="width: 102%;" type="submit">Login</button>
  </form>
</div>
