.roles-container {
    margin-top: 20px;
}

.roles-container h2 {
    margin-bottom: 20px;
}

.roles-container ul {
    list-style-type: none;
    padding: 0;
}

.roles-container li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}